

body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  background: linear-gradient(135deg, white, #FFB26B);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#FF7B54;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-bottom: 7px;
  margin: 0;
}
li {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-bottom: 7px;
  margin: 0;
}

p.important {
  font-weight: bold;
}

img {
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  
  img {
    display: block;
    margin: auto;
    max-width: 100%; /* make image responsive */
    height: auto; /* maintain aspect ratio */
    padding-bottom: 15px;
    padding-top: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}










/* body {
    background-color: #fff;
    font-family: Montserrat, sans-serif; 
    background: linear-gradient(135deg,white, #FFB26B); 
  }
  
  .content {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 40px; 
  }
  
  h3 {
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 20px; 
  }
  
  p {
    font-size: 20px; 
    line-height: 1.5; 
    margin-bottom: 20px; 
    padding-bottom: 7px;
  }
  p {
    margin: 0;
  }

  p.important {
    font-weight: bold;
  }
  
  img {
    display: block;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 10px;
  } 
*/
